<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan
		base-package="com.xworkz"></context:component-scan>




	<bean
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		id="session">

		<property name="dataSource" ref="driverDataManagerSource"></property>
		<property name="annotatedClasses">

			<list>
				<value>com.xworkz.entity.TyreClass</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				
				<prop key="hibernate.connection.pool_size">10</prop>
			</props>
		</property>

	</bean>

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"

		id="driverDataManagerSource">

		<constructor-arg name="url"
			value="${driverManagerDataSource.url}"></constructor-arg>
		<constructor-arg name="username"
			value="${driverManagerDataSource.userName}"></constructor-arg>
		<constructor-arg name="password"
			value="${driverManagerDataSource.password}"></constructor-arg>
		<property name="driverClassName"
			value="${driverManagerDataSource.driverClassName}"></property>

	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="connection.properties"></property>
	</bean>


</beans>